:root{
    --main-color: #002f34;
    --secondary-color: #f2f4f5;
    --hover-color: #f26430;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

a{
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    list-style: none;
    color: black;
}

a:hover{
    color: var(--hover-color);
}